// Utility Colors
$black: #000;
$cod-gray: #141414;
$mine-shaft: #323232;
$scorpion: #5f5f5f;
$gray: #8c8c8c;
$silver-chalice: #b2b2b2;
$silver: #cdcdcd;
$gallery: #ebebeb;
$white: #fff;

// Brand Colors
$school-bus-yellow: #ffda00;
$selective-yellow: #ffb500;
$mai-tai: #af6d04;
$affair: #85458a;
$blumine: #1c5687;
$faded-jade: #4c7d7a;

// Fonts
// $humanist: 'Humanist', serif;

// Other
$max-width: 1180px;
